@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&family=Roboto:wght@100;400&display=swap');

/*
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.category-text, .description-text {
  font-family: 'Roboto', sans-serif;
}

.sku-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #044469;
  font-weight: bold;
  font-size: 25px;
}

.price-text {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container .btn-primary {
  background-color: #044469;
}
