@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&family=Roboto:wght@100;400&display=swap');

/*
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #FFFFFF;
  font-family: 'Fredoka', sans-serif;
}

.footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-clients, .footer-contact {
  flex: 1;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.footer-list li {
  margin-right: 20px;
}

.footer-contact p {
  margin: 0;
}