@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&family=Roboto:wght@100;400&display=swap');

/*
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.custom-button {
  font-family: 'Roboto', sans-serif;
  background-color: #044469;
  color: #ffffff;
}